<a href="https://colab.research.google.com/github/Saad-7275/Saad-7275/blob/main/US_Honey_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importing the US_Honey_Case_Study_Data

In [ ]:
df = pd.read_csv('/content/US_honey_dataset (9).csv')
df

In [ ]:
df.isnull().sum()

In [ ]:
df.columns

In [ ]:
df.drop(columns='Unnamed: 0',inplace = True)

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
for col in df.columns:
  if (df[col].dtypes == 'int64' or df[col].dtypes == 'float64'):
    sns.set()
    sns.boxplot(df[col])
    plt.xlabel(col)
    plt.ylabel('count')
    plt.show()

#### Removing Some of the Outliers from the above boxplot

In [ ]:
column_names = ['colonies_number','yield_per_colony','production','stocks','average_price','value_of_production','year']
for i in column_names:
  Q1 = df[i].quantile(0.25)
  Q3 = df[i].quantile(0.75)

  IQR = Q3 - Q1
  df = df[(df[i] >= Q1 - 1.5*IQR) & (df[i] <= Q3 + 1.5*IQR)]

In [ ]:
for col in df.columns:
  if (df[col].dtypes == 'int64' or df[col].dtypes == 'float64'):
    sns.set()
    sns.boxplot(df[col])
    plt.xlabel(col)
    plt.ylabel('count')
    plt.show()

#### Now Finding the Correlation Coefficient with each of the Numerical Data Columns and Plotting the Heat Map

In [ ]:
num_columns = df.select_dtypes(include = ['int64','float64'])

corr_coeff = num_columns.corr()
print(corr_coeff)

In [ ]:
sns.heatmap(corr_coeff, annot = True, cmap = 'coolwarm',linewidths=0.6, xticklabels = 'auto', yticklabels = 'auto',linecolor='Black')

#### Mode value or the Most repeated value for each row of the 'State' Columns

In [ ]:
df['state'].value_counts()

##### PLotting the Dist plot to show the skewness in the Data set for Each Column

In [ ]:
sns.histplot(num_columns)
plt.show()

In [ ]:
df.shape

#### Top Honey Production States

In [ ]:
df.head()
df_production = df.sort_values('production', ascending = False)
print(df_production)

In [ ]:
df_production.head()

### *Since from the above table we can depict that what are the top Honey Production states but there are some values still repeating in the "states" section then to get rid off from such problem we can either plot a bar chart or through the Group by method*

In [ ]:
plt.figure(figsize = (10,10))
sns.barplot(y = df['state'],x = df['production'])
plt.xlabel("\n"'Amount of Production')
plt.ylabel("States")
plt.show()

In [ ]:
df.head()

#### Now Calculating the mean "average_price" for each year

In [ ]:
df_mean_avg = df.groupby('year').mean()
print(df_mean_avg)

In [ ]:
## Resetting the index because of the group by the year has became the index part for the rows

df_mean_avg= df_mean_avg.reset_index()
df_mean_avg

In [ ]:
plt.figure(figsize=(15,10))
sns.barplot(y = df_mean_avg['average_price'], x = df_mean_avg['year'])
plt.ylabel = ["Mean_average_price"]
plt.xlabel = ["Year(1995-2021)"]
plt.title("\n""Year and the mean Average_price of production of Honey")
plt.show()

**Which was the year when total mean value of production of honey was highest**

In [ ]:
df.head()

In [ ]:
df_mean_prod = df.groupby('year').mean()
df_mean_prod
df_mean_prod.reset_index()

In [ ]:
df_max_mean_production = df_mean_prod.loc[df_mean_prod['value_of_production'].idxmax()]
df_mean_prod['year']